##### STAGE 01 - LOADING DATA AND PERFORMING DATA SPLITTING

###### Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

print(os.getcwd())
print(os.path.abspath(os.path.join(os.getcwd(), '..')))
data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'data', 'raw_data'))
print(data_path)
raw_data = pd.read_csv(os.path.join(data_path, 'us_house_price_data.csv'))
raw_data.head(2)
rw_data = pd.read_csv(r"C:\Users\Olanrewaju Adegoke\UV\ML_with_uv_E2E\data\raw_data\us_house_price_data.csv")
rw_data.head(2)

In [3]:
raw_house = pd.read_csv("../data/raw_data/us_house_price_data.csv")
raw_house.head(2)

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks,city,zipcode,year,bank,bus,hospital,mall,park,restaurant,school,station,supermarket,Total Population,Median Age,Per Capita Income,Total Families Below Poverty,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full
0,2012-03-31,46550.0,217450.0,31.813674,110.183666,14.0,23.0,44.0,64.0,59.5,0.943662,0.142857,0.043478,ATL,30002,2012,12.0,2.0,4.0,1.0,60.0,45.0,57.0,4.0,7.0,5811.0,36.3,33052.0,5811.0,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,200773.999557,Atlanta-Sandy Springs-Alpharetta
1,2012-04-30,61870.0,245000.0,40.723982,130.528256,22.0,29.0,56.0,69.0,89.5,0.946642,0.090909,0.034483,ATL,30002,2012,12.0,2.0,4.0,1.0,60.0,45.0,57.0,4.0,7.0,5811.0,36.3,33052.0,5811.0,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202421.064584,Atlanta-Sandy Springs-Alpharetta

In [4]:
raw_house.shape

(884092, 39)

In [5]:
raw_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884092 entries, 0 to 884091
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          884092 non-null  object
 1   median_sale_price             884092 non-null  float64
 2   median_list_price             884092 non-null  float64
 3   median_ppsf                   884092 non-null  float64
 4   median_list_ppsf              884092 non-null  float64
 5   homes_sold                    884092 non-null  float64
 6   pending_sales                 884092 non-null  float64
 7   new_listings                  884092 non-null  float64
 8   inventory                     884092 non-null  float64
 9   median_dom                    884092 non-null  float64
 10  avg_sale_to_list              884092 non-null  float64
 11  sold_above_list               884092 non-null  float64
 12  off_market_in_two_weeks       884092 non-null  float64
 13  city                          884092 non-null  object
 14  zipcode                       884092 non-null  int64
 15  year                          884092 non-null  int64
 16  bank                          884092 non-null  float64
 17  bus                           884092 non-null  float64
 18  hospital                      884092 non-null  float64
 19  mall                          884092 non-null  float64
 20  park                          884092 non-null  float64
 21  restaurant                    884092 non-null  float64
 22  school                        884092 non-null  float64
 23  station                       884092 non-null  float64
 24  supermarket                   884092 non-null  float64
 25  Total Population              884092 non-null  float64
 26  Median Age                    884092 non-null  float64
 27  Per Capita Income             884092 non-null  float64
 28  Total Families Below Poverty  884092 non-null  float64
 29  Total Housing Units           884092 non-null  float64
 30  Median Rent                   884092 non-null  float64
 31  Median Home Value             884092 non-null  float64
 32  Total Labor Force             884092 non-null  float64
 33  Unemployed Population         884092 non-null  float64
 34  Total School Age Population   884092 non-null  float64
 35  Total School Enrollment       884092 non-null  float64
 36  Median Commute Time           884092 non-null  float64
 37  price                         884092 non-null  float64
 38  city_full                     884092 non-null  object
dtypes: float64(34), int64(2), object(3)
memory usage: 263.1+ MB

###### Convert date to datetime

In [6]:
raw_house["date"] = pd.to_datetime(raw_house["date"])
print("Year Counts:\n", raw_house["date"].dt.year.value_counts())

Year Counts:
 date
2013    74712
2014    74712
2015    74712
2016    74712
2020    74712
2017    74712
2018    74712
2019    74712
2022    74712
2021    74712
2023    74712
2012    62260
Name: count, dtype: int64

In [7]:
print("Min and Max Year:\n", raw_house["date"].dt.year.min(), raw_house["date"].dt.year.max())
print("Year Diff:\n", raw_house["date"].dt.year.max() - raw_house["date"].dt.year.min())

Min and Max Year:
 2012 2023
Year Diff:
 11

##### Avoiding data leakage

- `Training Set (2012 - 2019) is the one we would be working on extensively for cleaning, preprocessing etc and for historical training.`
- `Evaluation Set (2020 - 2021) is "unseen" during training but will be used for model validation and hyperparameter tuning.`
- `Holdout Set (2022 - 2023) is completely untouched either at training or evaluation but will be used as external dataset at the end of entire work.`

##### Data Splitting
`Working with Temporal or Time Series dataset, always split the dataset by dates. This is important to avoid data leakage.`

###### Sort by date (Important to avoid shuffling issues)

In [8]:
raw_house = raw_house.sort_values(by="date")
raw_house.reset_index(drop=True, inplace=True)
raw_house.head(2)

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks,city,zipcode,year,bank,bus,hospital,mall,park,restaurant,school,station,supermarket,Total Population,Median Age,Per Capita Income,Total Families Below Poverty,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full
0,2012-03-31,46550.0,217450.0,31.813674,110.183666,14.0,23.0,44.0,64.0,59.5,0.943662,0.142857,0.043478,ATL,30002,2012,12.0,2.0,4.0,1.0,60.0,45.0,57.0,4.0,7.0,5811.0,36.3,33052.0,5811.0,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,200773.999557,Atlanta-Sandy Springs-Alpharetta
1,2012-03-31,200000.0,7500.0,104.931794,79.265873,1.0,1.0,1.0,2.0,290.0,0.909091,0.000000,0.000000,PGH,15469,2012,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,2441.0,41.8,20241.0,2385.0,1108.0,641.0,94600.0,1171.0,52.0,2376.0,2376.0,1018.0,105863.681174,Pittsburgh

###### Set the dataset cutoff dates

In [9]:
cutoff_train = "2019-12-31"   # Training data ends 2019-12-31
cutoff_eval = "2021-12-31"    # Evaluation data ends 2021-12-31
cutoff_holdout = "2022-01-01" # Holdout data starts 2022-01-01

In [10]:
# Training Set: 2012 - 2019
train_df = raw_house[raw_house["date"] <= cutoff_train]

# Evaluation/Validation/Test Set: 2020 - 2021
eval_df = raw_house[(raw_house["date"] > cutoff_train) & (raw_house["date"] <= cutoff_eval)]

# Holdout Set: 2022 - 2023
holdout_df = raw_house[raw_house["date"] >= cutoff_holdout]

print("Training Set Shape:", train_df.shape)
print("Evaluation Set Shape:", eval_df.shape)
print("Holdout Set Shape:", holdout_df.shape)

Training Set Shape: (585244, 39)
Evaluation Set Shape: (149424, 39)
Holdout Set Shape: (149424, 39)

##### Save the Data Splits

In [11]:
train_df.to_csv("../data/raw_data/train_data.csv", index=False)
eval_df.to_csv("../data/raw_data/eval_data.csv", index=False)
holdout_df.to_csv("../data/raw_data/holdout_data.csv", index=False)